.button--delete {
  color: #fff;
  background: #ef3162;
  padding: 0.4rem;
}

.button--confirm {
  color: #fff;
  background: #3abe0e;
  padding: 0.4rem;
}

.button--neutral {
  color: #fff;
  background: #ddd;
  padding: 0.4rem;
}

.modal-actions {
  display: block;
  text-align: right;
}
